@model ArticlesListView
@if(Model.PageCount > 0)
{ 
    <ul class="pagination pull-right">

        @{
            var startPage = Math.Max(Model.CurrentPage - 2, 1);
            var endPage = Math.Min(Model.CurrentPage + 2, Model.PageCount);
            <li @(Model.CurrentPage == 1 ? "class=\"disabled\"" : "")><a href="?page=@(Model.CurrentPage-1)">«</a></li>
            for (int i = startPage; i <= endPage; i++)
            {
                <li @(i == Model.CurrentPage ? "class=\"active\"" : "")><a href="?page=@i">@i</a></li>
            }
            <li @(Model.CurrentPage == Model.PageCount ? "class=\"disabled\"" : "")><a href="?page=@(Model.CurrentPage+1)">»</a></li>
        }

    </ul>
}
